.mat-figure, .mat-grid-tile {
    display: flex;
    flex-direction: column;
}

img {
    width: 350px;
    height: 200px;
}

mat-grid-list {
    height: 700px;
    overflow: auto;
    padding: 0 !important;
}

