<section class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">    
    <form class="d-flex flex-column justify-content-center align-items-center h-100 col-sm-6">
        <mat-chip-list aria-label="Color selection" class="w-100 mt-3 mb-3">
            <mat-chip selected class="w-100 resize">
                <p class="w-100 m-auto text-center">Attention ce formulaire n'est pas encore fonctionnel</p>
            </mat-chip>
        </mat-chip-list>
        <mat-form-field class="w-100">
            <input matInput id="name" class="w-100">
            <mat-placeholder>Your name :</mat-placeholder>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput id="email" required class="w-100">   <!-- [formControl]="email" Create an issue where the input is red by default, need to check on this-->
            <mat-placeholder>Your mail</mat-placeholder>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <textarea matInput class="w-100" rows="5"></textarea>
            <mat-placeholder>Your message</mat-placeholder>
        </mat-form-field>
        <div class="d-flex justify-content-around align-items-center w-100">        
            <a href="" [routerLink]="['/main']" routerLinkActive="router-link-active" class="lower-title">Back to main page</a>
            <button mat-raised-button color="primary" type="submit" class="w-25 align-self-end">Send</button>
        </div>  
    </form>
</section>