<section class="container-fluid d-flex justify-content-center align-items-center flex-wrap h-100 p-0">    
    <div class="col-12 col-xl d-flex flex-column align-items-center order-3 order-xl-1">
        <a href="" [routerLink]="['/main']" routerLinkActive="router-link-active" ><p class="sub-title text-center">Go back to main page</p></a>
    </div>
    <div class="col-12 col-xl h-auto w-100 m-0 order-1 order-xl-2 p-0">
        <img src="../../assets/img/CVMaxenceWILMES.png" alt="CV Maxence WILMES" class="w-100">
    </div>
    <div class="col-12 col-xl d-flex justify-content-center align-items-center order-2 order-xl-3">
        <div class="d-flex flex-column align-items-center">
            <a href="../../assets/files/CV-Maxence-WILMES.pdf" target="_blank"><p class="sub-title">Download me</p></a>
            <a href="../../assets/files/CV-Maxence-WILMES.pdf" target="_blank"><mat-icon aria-hidden="false" aria-label="save icon" class="md-48">save</mat-icon></a>
        </div>
    </div>
</section>