<section class="container-fluid h100 pt-3">
    <div class="row d-flex <a>">
      <div class="col d-flex justify-content-center align-items-center h100 order-2 order-sm-1">
        <app-left></app-left>
      </div>
      <div class="col d-flex justify-content-center align-items-center h100 order-1 order-sm-2">
        <app-center></app-center>
      </div>
      <div class="col d-flex justify-content-center align-items-center h100 order-3 order-sm-3">
        <app-right></app-right>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>      
      <div class="col d-flex justify-content-around">
        <a target="_blank" href="https://www.linkedin.com/in/maxence-wilmes/ "><img src="../../assets/img/linkedin.svg" alt="linkedin logo" class="social"></a>        
        <a target="_blank" href="https://twitter.com/wilmesmxnc"><img src="../../assets/img/twitter.svg" alt="twitter logo" class="social"></a>
        <a target="_blank" href="https://github.com/Toorain"><img src="../../assets/img/github.svg" alt="github logo" class="social"></a>
      </div>
      <div class="col">
          <!-- <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></p>
          <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></p> -->
      </div>
    </div>
  </section>
