<section class="container-fluid h100">
    <div class="row d-flex h100">
      <div class="col d-flex justify-content-center align-items-center h100 order-2 order-sm-1">
        <app-left></app-left>
      </div>
      <div class="col d-flex justify-content-center align-items-center h100 order-1 order-sm-2">
        <app-center></app-center>
      </div>
      <div class="col d-flex justify-content-center align-items-center h100 order-3 order-sm-3">
        <app-right></app-right>
      </div>
    </div>
  </section>
