/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* ---------------TEXT-------------------- */
@media only screen and (max-width : 1224px){
  section {
    background-image: none !important;
  }
}

section {
  background-image: url(../../assets/img/bg.jpeg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
}

* {
  font-family: 'Orbitron';
}

.title {
  font-family: 'Orbitron';
  font-size: 4em;
  text-align: center;
}

mat-tab-group {
  height: 100%;
  min-height: 400px;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

app-center {
  display: flex;
  /* border-left: 2px solid black;
  border-right: 2px solid black; */
}

mat-grid-list{
  flex-wrap: wrap;
}

.h100 {
  height: 100%;
}

