/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: url(../src/assets/img/bg.jpeg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
}

app-root {
  background-color: black;
}

/* ---------------TEXT-------------------- */
@media only screen and (max-width : 1224px){
  body {
    background-image: none;
  }

  * {
    color: black !important;
  }
}


* {
  font-family: 'Orbitron';
  color: white;
}

.align-center {
  text-align: center !important;
}

.title {
  padding-top: 5%;
  font-size: 3.5em;
  text-align: center;
}

.sub-title {
  font-size: 2em;
}

.lower-title {
  font-size: 1.2em;
}

a:hover, a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}

/* ---------------TEXT-------------------- */

.mat-tab-body-content {
  overflow: hidden !important;
}

app-main {
  padding-top: 10%;
}

app-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  padding-top: 30%;
}

app-center{
  height: 100%;
  justify-content: center;
}

app-right {
  width: 100%;
  height: 100%;
}

mat-grid-list{
  flex-wrap: wrap;
}

.mat-tab-label-content {
  font-size: 2em;
}

.mat-tab-labels {
  display: flex;
  justify-content: space-between;
}

.mat-figure, .mat-grid-tile {
  display: flex;
  flex-direction: column;
}

.mat-form-field-wrapper {
  width: 100% !important;
}

/* --------------MATERIAL ICONS RULES-------------------- */

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-72 { font-size: 72px; }

/* --------------MATERIAL ICONS RULES-------------------- */

