<div class="col d-flex flex-wrap justify-content-center">
  <p class="title col m-0">Maxence <br> WILMES</p>
  <div class="col-12 d-flex flex-column align-items-center justify-content-center">
    <a href="" [routerLink]="['/cvPdf']" routerLinkActive="router-link-active" ><p class="lower-title">(Click me to see my CV)</p></a>  
    <a href="" [routerLink]="['/cvPdf']" routerLinkActive="router-link-active"><img src="../../../assets/img/pp.jpg" alt="shogun logo"></a>
  </div>    
  <div id="text-bottom" class="col d-flex flex-column mb-4">
    <a class="sub-title" [routerLink]="['/contact']"
    routerLinkActive="router-link-active">Contact me</a>
    <a class="lower-title" [routerLink]="['/']"
        routerLinkActive="router-link-active">More about me</a>
  </div>
</div>
