<div class="col d-flex flex-wrap justify-content-center">
  <p class="title col m-0">Maxence <br> WILMES</p>
  <a class="col-12 d-flex align-items-center justify-content-center"><img src="../../../assets/img/pp.jpg" alt="shogun logo"></a>
  <div id="text-bottom" class="col d-flex flex-column mb-4">
    <a class="sub-title" [routerLink]="['/contact']"
    routerLinkActive="router-link-active">Contact me</a>
    <a class="lower-title" [routerLink]="['/']"
        routerLinkActive="router-link-active">More about me</a>
  </div>
</div>
