<div class="col d-flex flex-wrap justify-content-center">
  <p class="title col m-0">Maxence <br> WILMES</p>
  <div class="col-12 d-flex flex-column align-items-center justify-content-center">
    <a href="" [routerLink]="['/cvPdf']" routerLinkActive="router-link-active" ><p class="lower-title">(Click me to see my CV)</p></a>  
    <a href="" [routerLink]="['/cvPdf']" routerLinkActive="router-link-active"><img class="shogunLogo" src="../../../assets/img/pp.jpg" alt="shogun logo"></a>
  </div>    
  <div id="text-bottom" class="col-12 d-flex flex-column mb-4">
    <a class="sub-title" [routerLink]="['/contact']"
    routerLinkActive="router-link-active">Contact me</a>
    <a class="lower-title" [routerLink]="['/']"
        routerLinkActive="router-link-active">More about me</a>
  </div>
  <div class="col d-flex justify-content-around">
      <a target="_blank" href="https://www.linkedin.com/in/maxence-wilmes/ "><img src="../../assets/img/linkedin.svg" alt="linkedin logo" class="social"></a>        
      <a target="_blank" href="https://twitter.com/wilmesmxnc"><img src="../../assets/img/twitter.svg" alt="twitter logo" class="social"></a>
      <a target="_blank" href="https://github.com/Toorain"><img src="../../assets/img/github.svg" alt="github logo" class="social"></a>
    </div>
</div>
