.shogunLogo {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 1px solid black;
  color: white;
}

#text-bottom {
  text-align: center;
}

.social {
  height: 3em;
  margin: 10px;
}

.pulse-button {
  height: 250px;
  width: 250px;
  color: white;
  position: relative;
  border: none;
  box-shadow: 0 0 0 0 gray;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../../../assets/img/pp.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;  
}

.pulse-button:hover 
{
  -webkit-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}